<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <h1 class="display-4">About EasyShop</h1>
    <p class="lead">Welcome to EasyShop - Your One-Stop Destination for Online Shopping!</p>
</div>
<div class="container">
    <p>
        At EasyShop, we strive to make your online shopping experience seamless and enjoyable. Discover a vast collection
        of high-quality products at affordable prices. From the latest fashion trends to cutting-edge electronics and
        lifestyle essentials, EasyShop has it all.
    </p>
 
    <p>
        Explore our user-friendly website, and enjoy a secure and convenient shopping experience. With EasyShop, you can
        shop from the comfort of your home and have your favorite products delivered to your doorstep.
    </p>
    <p>
        Whether you're a fashion enthusiast, tech-savvy individual, or someone looking for everyday essentials, EasyShop
        caters to your diverse needs. We are committed to providing excellent customer service and ensuring your
        satisfaction with every purchase.
    </p>
</div>
